body {
    margin: 0px;
}


/*NAVIGATION SECTION*/
.nav-section {
    display: flex;
    margin-left: 24px;
    justify-content: space-between;
}
.logo {
    height: 100px;
}
.nav-section h2 {
    font-size: 36px;
    margin-right: 500px;
}

.nav-section ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu li {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 700;
}

span {
    color: gray;
}

/*BANNER SECTION*/
.banner-section {
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
    background-color: lightgray;
}



.content-img {
    /*margin: 32px 24px;*/
    width: 60vw;
}

.img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.img-info h1 {
    font-size: 60px;
    color: rgb(82, 76, 76);
}

.img-info h3 {
    font-size: 32px;
    color: rgb(82, 76, 76);
}

.img-info button {
    background-color:rgb(82, 76, 76); ;
    color: lightgray;
    font-size: 28px;
    padding: 8px;
}

/*INFORMATION SECTION*/
.info-section {
    display: flex;
    margin: 24px; 
    border: 1px solid gray;
}

.info-img-rm {
    border-left: 1px solid lightgray;
}
.info-section h2 {
     font-size: 38px;
     margin-top: 32px;
     margin-bottom: 24px;
 }

 .info-section p {
     font-size: 20px;
 }

 .info-section h3 {
     font-size: 18px;
     font-weight: 600;
 }


.info-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: 40vw;*/
    margin-left: 24px;
}

.info-sidebar h3 {
    font-size: 32px;
    font-weight: 700;
}

.info-sidebar p {
    font-size: 28px;
}


.info-sidebar-img {
    width: 35%;
    height: auto;
    margin-right: 18px;
}


.sidebar-img-text {
    width: 65%;
    height: auto;
}

.guest {
    background-color: rgb(194, 206, 223);
}

/*COURSE SECTION*/
.sect-head {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.course-sect {
    display: flex;
    flex-direction: column;
    
}

.course-rw-1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.course-slide {
    width: auto;
    margin-right: 16px;
    margin-left: 16px;
}

/*THESIS SECTION*/

.thesis-sect {
    display: flex;
}

.video-sect {
   
}

#copyright {
    text-align: left;
    margin-bottom: 35px;
}

.exhibit-col {
    display: flex;
    flex-direction: column;
 
    
}

.thesis-img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.footer-li ul{
    display: flex;
    list-style: none;
    justify-content: right;
    
}

.footer-li ul li {
    padding-right: 20px;
    margin-top: 420px;
}
