/*NAVIGATION SECTION*/


/*BANNER SECTION*/
.banner-section {
    display: flex;
}

.content-img {
    margin: 32px 24px;
    width: 60vw;
}

.img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*INFORMATION SECTION*/
.info-section {
    display: flex;
}

.info-sidebar {
    display: flex;
    flex-direction: column;
}

.info-sidebar-img {

    width: 35vw;
    height: auto;
}
/*COURSE SECTION*/
/*THESIS SECTION*/