/*NAVIGATION SECTION*/
.nav-section {
    display: flex;
}

.nav-section ul {
    display: flex;
    list-style: none;
    align-items: center;
}


/*BANNER SECTION*/
.banner-section {
    display: flex;
}

.content-img {
    margin: 32px 24px;
    width: 60vw;
}

.img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*INFORMATION SECTION*/
.info-section {
    display: flex;
}

.info-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-sidebar-img {
    width: 35vw;
    height: auto;
}

/*COURSE SECTION*/
.sect-head {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.course-sect {
    display: flex;
    flex-direction: column;
    
}

.course-rw-1 {
    display: flex;
    flex-direction: row;
    
}

.course-slide {
    margin-right: 16px;
    margin-left: 16px;
}

/*THESIS SECTION*/

.thesis-sect {
    display: flex;
}

.video-sect {
   
}

#copyright {
    text-align: left;
    margin-bottom: 35px;
}

.exhibit-col {
    display: flex;
    flex-direction: column;
 
    
}

.thesis-img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.footer-li ul{
    display: flex;
    list-style: none;
    justify-content: right;
    
}

.footer-li ul li {
    padding-right: 20px;
    margin-top: 420px;
}
